* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}


/*IMAGES*/

.img__container {
    position             : relative;
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows       : 240px;
    overflow             : hidden;
    gap                  : 20px;
    row-gap              : 10px;
    filter               : blur(0);
    transition           : all .3s ease-in-out;
}


.img__container .img__item img {
    width          : 100%;
    height         : 100%;
    object-fit     : cover;
    object-position: top;
}

.blur {
    filter: blur(3px);
}

.img__item {
    overflow: hidden;
}

.img__item img {
    transition: transform .5s ease-in-out;
}

.img__item img:hover {
    transform: scale(1.5);
    cursor   : pointer;
}

/*IMAGES*/

/* MODAL */

.modal__background {
    position        : fixed;
    top             : 0;
    width           : 0;
    height          : 0;
    background-color: rgb(0, 0, 0);
    transition      : background-color .5s, width 0.1ms, height 0.1ms ease-in-out;
    overflow        : hidden;
}

.modal__background--show {
    width: 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__prev,
.modal__next {
    display         : inline-block;
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    background-color: #fff;
    cursor          : pointer;
    position        : absolute;
    top             : calc((100% - 40px) / 2);
    border          : none;
    font-size       : 36px;
    transition      : transform .3s ease-in-out;
}

.modal__prev:hover,
.modal__next:hover {
    transform: scale(1.2);
}

.modal__prev {
    left: 10px;
}


.modal__next {
    right: 10px;
}


.modal__container {
    position  : fixed;
    top       : -100%;
    width     : 80%;
    height    : 80%;
    opacity   : 1;
    transition: top .6s;
}

.modal__container--show {
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.modal__container img {
    display        : block;
    width          : 100%;
    height         : 100%;
    object-fit     : scale-down;
    transform: scale(1);
}

.close {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px; 
}


/* MODAL */

/* RESPONSIVE */

@media screen and (max-width: 720px) {

    .modal__prev,
    .modal__next {
        width           : 30px;
        height          : 30px;
        font-size       : 18px;
    }
}